# This rulebase contains the environment-specific constants for the core CyVerse
# Data Store policies.
#
# © 2024 The Arizona Board of Regents on behalf of The University of Arizona.
# For license information, see https://cyverse.org/license.

{{ ansible_managed | comment }}

# the name of the AMQP exchange where iRODS should publish messages
cyverse_AMQP_EXCHANGE: string
cyverse_AMQP_EXCHANGE = '{{ _irods_amqp_exchange }}'

# the rule engine host
cyverse_RE_HOST: string
cyverse_RE_HOST = '{{ _irods_re_host }}'

# the local iRODS zone
cyverse_ZONE: string
cyverse_ZONE = '{{ _irods_zone_name }}'
