# The docker-compose project name.
export ENV_NAME=dstesting

# The name of the docker network.
export DOMAIN=${ENV_NAME}_default

# The host name of the PostgreSQL server
export DBMS_HOST=${ENV_NAME}_dbms_configured_1.${DOMAIN}

# The end of the port range available for parallel transfer and reconnections.
# The beginning of the range is 20000.
export IRODS_LAST_EPHEMERAL_PORT=20009

# The name of the primary group the irods service account belongs to on the
# catalog service provider.
export IRODS_PROVIDER_SYSTEM_GROUP=irods_provider

# The name of the storage resource hosted on the configured ubuntu resource
# server
export IRODS_RES_CONF_UBUNTU_NAME=ingestRes

# The URI for the schema used to validate the configuration files or 'off'
export IRODS_SCHEMA_VALIDATION=off

# The absolute path to the vault on the resource servers
export IRODS_VAULT=/var/lib/irods/Vault

# The name of the iRODS zone
export IRODS_ZONE_NAME=testing

# The host name of the configured Centos catalog service consumer
export IRODS_CONSUMER_CONF_UBUNTU_HOST=${ENV_NAME}_consumer_configured_centos_1.${DOMAIN}

# The host name of the configured Ubuntu catalog service consumer
export IRODS_CONSUMER_CONF_UBUNTU_HOST=${ENV_NAME}_consumer_configured_ubuntu_1.${DOMAIN}

# The name of the default resource to use
export IRODS_DEFAULT_RESOURCE=${IRODS_RES_CONF_UBUNTU_NAME}

# The host name of the configured catalog service provider
export IRODS_PROVIDER_CONF_HOST=${ENV_NAME}_provider_configured_1.${DOMAIN}

# The host name of the unconfigured service provider
export IRODS_PROVIDER_UNCONF_HOST=${ENV_NAME}_provider_unconfigured_1.${DOMAIN}
